In [1]:
#Importing all required libraries
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score,confusion_matrix, precision_score,recall_score,f1_score,fbeta_score
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.inspection import permutation_importance
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
label_encoder = preprocessing.LabelEncoder()

In [2]:
#reading and understanding data
p1=pd.read_csv("C:/Users/Vinayak Gaur/Desktop/EmpAttrition.csv")
p1.head()
print(p1.shape)

(14999, 10)

In [3]:
p1['sales']= label_encoder.fit_transform(p1['sales'])
p1['salary']= label_encoder.fit_transform(p1['salary'])

In [4]:
p1.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1

In [5]:
#Dealing with missing data
print(p1.isnull().sum())
print(p1.isna().sum())
p1.shape

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64
satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

(14999, 10)

In [6]:
#Checking for balance data
a=p1[p1['left']==0]
b=p1[p1['left']==1]
print(a.shape)
print(b.shape)
# The dataset is not balanced

(11428, 10)
(3571, 10)

In [7]:
#Scaling the data
x = np.array(p1.drop('left',axis=1))
y = np.array(p1['left'])
MMS = MinMaxScaler()
x_trans = MMS.fit_transform(x)
y_trans = MMS.fit_transform(y.reshape(-1, 1))

In [8]:
import imblearn
from imblearn.over_sampling import SMOTE

smote = SMOTE()

# fit predictor and target variable
x_smote, y_smote = smote.fit_resample(x_trans,y_trans)

In [9]:
X,Y=x_smote, y_smote
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.30, random_state = 111)

In [10]:
clf = ExtraTreesClassifier(random_state=111)
clf.fit(X_train, y_train)
y_pred  =  clf.predict(X_test)
acc=cross_val_score(estimator=clf,X=X_train,y=y_train,cv=10,n_jobs=-1)
A_C=acc.mean()
C= confusion_matrix(y_test, y_pred)
Se= (C[1][1])/(C[1][1]+C[1][0])
Sp=(C[0][0])/(C[0][0]+C[0][1])
A=(round(accuracy_score(y_test, y_pred)*100,2))
E=100-A
P=round(precision_score(y_test,y_pred,average='binary'),2)
R=round(recall_score(y_test,y_pred,average='binary'),2)

In [11]:
print(A,P,R,"\n",C)

98.88 0.99 0.98
 [[3404   22]
 [  55 3376]]

In [12]:
import joblib
joblib.dump(clf,"Model123.pkl")

['Model123.pkl']

In [13]:
mdl123=joblib.load("Model123.pkl")

In [14]:
p1.iloc[166][:]

satisfaction_level         0.43
last_evaluation            0.55
number_project             2.00
average_montly_hours     129.00
time_spend_company         3.00
Work_accident              0.00
left                       1.00
promotion_last_5years      0.00
sales                      7.00
salary                     1.00
Name: 166, dtype: float64

In [15]:
X=np.asarray((0.7,0.4,2,169,3,0,0,7,1))
X=X.reshape(1,-1)

In [16]:
Y=mdl123.predict(X)
print(Y)

[0.]